
body {
  background-color: darkgreen;
}

#board {
  width: 720px;
  height: 720px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: black;
  position: relative;
  margin: auto;
}

#walker {
  background-color: teal;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  position: absolute;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}

#walker2 {
  background-color: blueviolet;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  position: absolute;
}

#it, #tags {
  font-size: 40px;
  color: white;
  text-align: center;
  margin: 20px auto 20px auto;
  padding: 10px 0 10px 0;
  width: 720px;
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
}