.square {
  width: 20px;
  height: 20px;
  position: absolute;
}

body > div {
  position: relative;
}

#button-box {
  position: relative;
  top: 350px;
}

#auto-button {
  position: relative;
  top: 375px;
}

#filter-choice {
  position: relative;
  top: 400px;
}

#filters, #includeBackground, #smudgeDirection {
  display: block;
  margin: 10px auto 20px 15px;
}

button {
  width: 120px;
  padding: 5px;
  margin-left: 12px;
}

#apply {
  background: green;
}

#reset {
  background: red;
}

#autoApply {
  background: lightskyblue;
}

#applyNum {
  width: 110px;
  margin-left: 12px;
}