body {
    background-color: lightsteelblue;
}

.main-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(146, 78, 219);
    border-radius: 20px;
}

/* Flex direction: column here allows us
to add multiple auto-clicker divs, and they'll appear
as a vertical list */
.autoclicker-box {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.autoclicker-box > div {
    /* background-color: lightgoldenrodyellow; */
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.autoclicker > p {
    padding-right: 40px;
}


.upgrade-box {
    flex-grow: 2;
    border-radius: 20px;
}

.clicker-box {
    flex-grow: 4;
    border-radius: 20px;
}

.clicker-box > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clicker-box > p {
    text-align: center;
}

button {
    border-radius: 20px;
    border: 5px steelblue solid;
    background-color: lightskyblue;
    margin-left: auto;
    padding-left: 25px;
    padding-right: 25px;
}

#mana-amount {
    font-weight: bold;
}

.main-box > div {
    background-color: rgb(245, 238, 219);
    margin: 20px;
    padding: 30px;
    font-size: 20px;
}

/* .credits {
    background-color: lightskyblue;
} */