body {
    background-color: lightsteelblue;
}

h1 {
    text-align: center;
}

.main-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(146, 78, 219);
    border-radius: 30px;
    height: 700px;
}

/* Flex direction: column here allows us
to add multiple auto-clicker divs, and they'll appear
as a vertical list */
.autoclicker-box {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    width: 800px;
    border-radius: 20px;
    overflow-y: auto;
}

.autoclicker-box > div {
    /* background-color: lightgoldenrodyellow; */
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.autoclicker > p {
    padding-right: 40px;
}

.upgrade-box {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    width: 800px;
    border-radius: 20px;
    overflow-y: auto;
}

.upgrade-box > div {
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.upgrade > p {
    padding-right: 40px;
}

.clicker-box {
    flex-grow: 4;
    border-radius: 20px;
    width: 600px;
}

.clicker-box > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clicker-box > p {
    text-align: center;
}

.toggle-button {
    margin: 0px auto 0px auto;
    padding: 10px 25px 10px 25px;
    font-weight: 800;
}

button {
    border-radius: 20px;
    border: 5px steelblue solid;
    background-color: lightskyblue;
    margin-left: auto;
    padding-left: 25px;
    padding-right: 25px;
    color: rgb(29, 72, 107);
}

button:disabled {
    background-color: lightsteelblue;
}

button:hover {
    background-color: aliceblue;
    border-color: skyblue;
}

.sell {
    margin-left: 15px;
}

#mana-amount {
    font-weight: bold;
}

.main-box>div {
    background-color: rgb(245, 238, 219);
    margin: 20px;
    padding: 30px;
    font-size: 20px;
}

.news-box {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    padding: 20px;
    justify-content: space-between;
    align-items: stretch;
    background-color: rgb(146, 78, 219);
    border-radius: 30px;
}

.inner-box {
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 238, 219);
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    flex-grow: 1;
}

#text {
    padding-left: 20px;
}

::-webkit-scrollbar {
    width: 10px;
    margin-right: 10px;
}
::-webkit-scrollbar-thumb {
    background: steelblue;
    border-radius: 5px;
}


/* .credits {
    background-color: lightskyblue;
} */